<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet"href="/css/mycss.css">
</head>
<body>
    

    <div class="hero-image">
        <div class="hero-text">
            <h1>What Ever You Decide To Do. Make Sure It Makes You Happy.</h1>
            <div class="topnav">
                <a href="/">Home</a>
                <a href="/packages">Package Listing</a>
                <a href="/registration">Registration</a>
                <a href="/signin">Sign In</a>
            </div>
        </div>
    </div>


<main>
    {{{body}}}
</main>

</body>
<footer class="footer">
<div class="credit"> &copy;2020 HAOTIAN YANG</div>
<div class="social">
    <a href="https://www.facebook.com/livefitfood" title="liveFit on facebook"><img src="/img/fbicon.png" height="35" width="35"></a>
    <a href="mailto:info@livefitfitness.com" title="Emali"><img src="/img/mail.png" height="35" width="35"></a>
</div>
<div class="paymethod">
    <img src="/img/AM.svg" alt="American Express">
    <img src="/img/Visa.svg" alt="Visa">
    <img src="/img/Google Pay.svg" alt="Google Pay">
    <img src="/img/Apple pay.svg" alt="Apple Pay">
    <img src="/img/Mastercard.svg" alt="Master Card">

</div>
</footer>
</html>