<form action="action_page.php">
        <div class="container">
            <p>Please fill in this form to create an account.</p>
            <hr>

            <label for="fname"><b>First Name</b></label>
            <input type="text" name="fname" id="fname" placeholder="Enter Your First Name">

            <label for="lname"><b>Last Name</b></label>
            <input type="text" name="lname" id="lname" placeholder="Enter Your Last Name">
            
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter email" name="email" id="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id=psw required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repaet Password" name="pws-repeat" id="psw-repeat" required>
            <hr>

            <p>By creating an account you agree to our <a href="#">Terms and Privacy</a>.</p>
            <button type="submit" class="registerbtn">Register</button>

        </div>
        <div class="had">
            <p>Already have an account?<a href="signin">Sign in</a>.</p>
        </div>
    </form>